.sobremi{
    height: calc(100vh - 36px);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobremi__descripcion{
    padding: 30px;
    text-align: justify;
}

.sobremi__redes svg{
    padding: 10px;
    width: 32px;
    height: 32px;
}

.sobremi__redes{
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .sobremi{
        flex-direction: row;
        justify-content: space-around;
    }

    .sobremi__redes svg:hover{
        transform: scale(1.2);
    }

    .sobremi__descripcion{
        font-size: var(--size-text-desk-tablet);
        padding-bottom: 10px;
    }

    .sobremi__seccion{
        width: 45vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sobremi__redes svg:hover{
        transform: scale(1.2);
    }

    .sobremi__descripcion{
        font-size: var(--size-text-desk-tablet);
        padding: 50px 100px  20px 100px;
    }
}