:root{
    --primary-color: #2E3239;
    --secondary-color: #A2B2EE;
    --complement-color: #5F7ADB;
    --text-color: #FFFFFF;
    --size-title-desk-tablet: 110px;
    --size-title-cell: 45px;
    --size-text-desk-tablet: 20px;
    --size-text-cel: 28px;
    --size-text-nav-desk-tablet: 24px;
    --size-text-nav-cell: 15px;
    --font: 'Lexend', sans-serif;
}