*{
    font-family: var(--font)
}

body{
    background-color: var(--primary-color);
}

.titulo{
    color: var(--secondary-color);
    font-size: var(--size-title-cell);
}

a{
    color: var(--text-color);
    text-decoration: none;
}

.contenedor{
    padding: 10px;
    margin: 10px;
    background-color: var(--secondary-color);
    box-shadow: -5px 5px 4px 0px rgba(0, 0, 0, 0.90);
    text-align: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodapie{
    color: var(--text-color);
    text-align: center;
    font-family: var(--font);
    font-size: small;
    margin: 5px;
}

@media screen and (min-width:768px) {
    .titulo{
        font-size: var(--size-title-desk-tablet);
        width: 40vw;
        text-align: center;
    }

    .barra{
        height: 80vh;
        width: 5px;
        background-color: var(--complement-color);
    }

    .contenedor{
        margin: 0;
    }

    .rodapie{
        font-size: 15px;
    }
}