.principal {
    height: calc(100vh - 36px);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.principal__titulo {
    font-size: var(--size-title-cell);
    margin-bottom: 20px;
}

.principal__descripcion {
    font-size: var(--size-text-cell);
}

.principal__links{
    margin-top: 15px;
}

.principal__links a{
    height: auto;
    width: auto;
    margin: 10px;
}

.principal__contenido {
    display: block;
    white-space: nowrap;
    width: 10ch;
    animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
    border-right: 4px solid;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: var(--size-title-cell);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media screen and (min-width: 1024px) {
    .principal__contenido{
        font-size: var(--size-title-desk-tablet);
    }

    .principal__descripcion{
        font-size: var(--size-text-desk-tablet);
    }

    .principal__links svg{
        width: 32px;
        height: 32px;
    }

    .principal__links svg:hover{
        transform: scale(1.2);
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .principal__contenido{
        font-size: var(--size-title-desk-tablet);
    }

    .principal__descripcion{
        font-size: var(--size-text-desk-tablet);
    }

    .principal__links svg{
        width: 32px;
        height: 32px;
    }
}